[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "==3.7.9"
mypy = "==0.761"
pytest = "==5.3.5"
black = "==19.10b0"
pytest-cov = "==2.8.1"
coverage = "==5.0.3"
sphinx = "*"

[packages]
pyperclip = "==1.8.0"
boto3 = "==1.12.39"

[requires]
python_version = "3.8"
